{% extends 'base.html' %}
{% block content %}
        
        <div class="container">
          <img src="https://tse3.mm.bing.net/th?id=OIP.9dPgHaCd1cysbOf-kmRixgAAAA&pid=Api&P=0&w=300&h=300" width="100" class="img-thumbnail rounded align-top md-3" alt="profile_img">
          <h1 class="display-4 py-3 d-inline">Welcome {{request.session.greeting}} {{driver.first_name}} {{driver.driver_id}} !</h1>

          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                  My Chores
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <!-- chore table -->
                  <div class="shadow p-3 mb-5 bg-body rounded">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">$ Price</th>
                          <th scope="col">Location</th>
                          <th scope="col">Due</th>
                          <th scope="col">User</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for item in driver_chores %}
                          {% for location in current_driver %}
                        <tr>
                          <td>{{item.name}}</td>
                          <td>{{item.description}}</td>
                          <td>$ {{item.price}}</td>
                          <td>{{location.street}} {{location.city}}, {{location.state}} {{location.zip_code}}</td>
                          <td>{{item.due_date}}</td>
                          <td>{{item.customer.first_name}}</td>
                          <td>in transit</td>
                          <td>
                            <button class="btn btn-warning">Drop</button>
                            <button class="btn btn-primary">Start</button>
                            <button class="btn btn-success">Complete</button>
                          </td>
                        {% endfor %}
                          {% endfor %}
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Find a Chore 
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                  <div class="shadow p-3 mb-5 bg-body rounded">

                    <div class="container mb-3">
                        <h2>Find a Chore</h2>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Zip Code" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>

                    <div class="row"></div>
                    <div id="map" style="width: 1100px;height: 400px;"></div>
                    <script>
                      var latitude = "{{latitude}}"
                      var longitude = "{{longitude}}"
                      function myMap(){
                        var mapProp = {
                          center:new google.maps.LatLng(latitude, longitude),
                          zoom: 12,
                      };
                      var map = new google.maps.Map(document.getElementById("map"), mapProp);
                      // adding a marker function to loop through addresss. 
                      function addMarker(props){
                        var marker = new google.map.Marker({
                        position: props.coords,
                        map:map,
                        });
                        if(props.content){
                          var infoWindow = new google.maps.infoWindow({
                          content: props.content
                          });
                          marker.addListner('click', function(){
                          infoWindow.open(map, marker);
                      });
                        }
                      }
                      addMarker({
                        coords:{lat:"{{customer1_coords_lat}}",lng:"{{customer1_coords_lng}}"},
                        content:`<h1>"{{customer1.chore.name}}"</h1>
                        <h2>{{customer1.chore.description}}</h2>`
                        });
                      addMarker({
                        coords:{lat:"{{customer2_coords_lat}}",lng:"{{customer2_coords_lng}}"},
                        content:`<h1>"{{customer2.chore.name}}"</h1>
                        <h2>{{customer2.chore.description}}</h2>`
                        });
                      addMarker({
                        coords:{lat:"{{customer3_coords_lat}}",lng:"{{customer3_coords_lng}}"},
                        content:`<h1>"{{customer3.chore.name}}"</h1>
                        <h2>{{customer3.chore.description}}</h2>`
                        });
                      }
                    </script>
                    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEoIFrYh6q05VYt_RAQ2Nfkqx8MU31Moc&callback=myMap"></script>

                    <div class="d-inline-block align-top" width="50%">
                        <table class="table table-hover d-inline mx-3">
                        <caption class="caption-top text-center"><h3>Results</h3></caption>
                        <thead>
                            <tr>
                            <th scope="col">Name</th>
                            <th scope="col">$ Price</th>
                            <th scope="col">User</th>
                            <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for item in customer_chores %}
                            <tr>
                            <td><a href="/driver_chore" class="text-decoration-none text-info">{{item.name}}</a></td>
                            <td>$ {{item.price}}</td>
                            <td>{{item.customer.first_name}}</td>
                            <td>
                              <form method="POST" action="/claim_chore/{{driver_id}}">
                                <button class="btn btn-primary">Claim</button>
                              </form>
                            </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        </table>
                    </div>


                  </>

                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}       
        