{% extends 'base.html' %}
{% block content %}
        
        <div class="container">
          <img src="https://tse3.mm.bing.net/th?id=OIP.9dPgHaCd1cysbOf-kmRixgAAAA&pid=Api&P=0&w=300&h=300" width="100" class="img-thumbnail rounded align-top md-3" alt="profile_img">
          <h1 class="display-4 py-3 d-inline">Welcome {{request.session.greeting}} {{driver.first_name}} {{driver.driver_id}} !</h1>

          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="true" aria-controls="flush-collapseOne">
                  My Chores
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <!-- chore table -->
                  <div class="shadow p-3 mb-5 bg-body rounded">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">Name</th>
                          <th scope="col">Description</th>
                          <th scope="col">$ Price</th>
                          <th scope="col">Location</th>
                          <th scope="col">Due</th>
                          <th scope="col">User</th>
                          <th scope="col">Status</th>
                          <th scope="col">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Get Laundry</td>
                          <td>some spicy descriptive text</td>
                          <td>$ 42.00</td>
                          <td>Laundromat</td>
                          <td>3:00PM April 1st</td>
                          <td>Mike S</td>
                          <td>in transit</td>
                          <td>
                            <button class="btn btn-warning">Drop</button>
                            <button class="btn btn-primary">Start</button>
                            <button class="btn btn-success">Complete</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>Get Laundry</td>
                          <td>some spicy descriptive text</td>
                          <td>$ 42.00</td>
                          <td>Laundromat</td>
                          <td>3:00PM April 1st</td>
                          <td>Mike S</td>
                          <td>in transit</td>
                          <td>
                            <button class="btn btn-warning">Drop</button>
                            <button class="btn btn-primary">Start</button>
                            <button class="btn btn-success">Complete</button>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">1</th>
                          <td>Get Laundry</td>
                          <td>some spicy descriptive text</td>
                          <td>$ 42.00</td>
                          <td>Laundromat</td>
                          <td>3:00PM April 1st</td>
                          <td>Mike S</td>
                          <td>in transit</td>
                          <td>
                            <button class="btn btn-warning">Drop</button>
                            <button class="btn btn-primary">Start</button>
                            <button class="btn btn-success">Complete</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Find a Chore 
                </button>
              </h2>
              <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">

                  <div class="shadow p-3 mb-5 bg-body rounded">

                    <div class="container mb-3">
                        <h2>Find a Chore</h2>
                        <form class="d-flex">
                            <input class="form-control me-2" type="search" placeholder="Zip Code" aria-label="Search">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                    </div>

                    <div class="row"></div>
                    <img src="https://static.makeuseof.com/wp-content/uploads/2015/10/gps-map.jpg" class="border-4 mb-3 d-inline" width="50%" alt="map goes here">
                    

                    <div class="d-inline-block align-top" width="50%">
                        <table class="table table-hover d-inline mx-3">
                        <caption class="caption-top text-center"><h3>Results</h3></caption>
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">$ Price</th>
                            <th scope="col">User</th>
                            <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td><a href="/driver_chore" class="text-decoration-none text-info">Get Laundry</a></td>
                            <td>Laundromat</td>
                            <td>$ 42.00</td>
                            <td>Mike S</td>
                            <td>
                                <button class="btn btn-primary">Claim</button>
                            </td>
                            </tr>
                            <tr>
                            <th scope="row">2</th>
                            <td>Get Laundry</td>
                            <td>Laundromat</td>
                            <td>$ 42.00</td>
                            <td>Mike S</td>
                            <td>
                                <button class="btn btn-primary">Claim</button>
                            </td>
                            </tr>
                            <tr>
                            <th scope="row">3</th>
                            <td>Get Laundry</td>
                            <td>Laundromat</td>
                            <td>$ 42.00</td>
                            <td>Mike S</td>
                            <td>
                                <button class="btn btn-primary">Claim</button>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                    </div>


                  </>

                </div>
              </div>
            </div>
          </div>
        </div>
{% endblock content %}       
        