{% extends 'base.html' %}
{% block content %}
        
        <div class="container">
          <h1 class="display-4 py-3 mb-3">{chore.name} Status</h1>

          <div class="shadow card">
            <div class="card-body">
                <table class="table table-hover card-text">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Description</th>
                            <th scope="col">Location</th>
                            <th scope="col">$ Price</th>
                            <th scope="col">Due</th>
                            <th scope="col">Driver</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            <th scope="row">1</th>
                            <td>some spicy descriptive text</td>
                            <td>Laundromat</td>
                            <td>$ 42.00</td>
                            <td>3:00PM April 1</td>
                            <td>Mike S</td>
                            <td>In Transit</td>

                            <td>
                                <button class="btn btn-danger">Delete</button>
                                <button class="btn btn-success">Update</button>
                            </td>
                            </tr>
                        </tbody>
                        </table>
                <p class="card-text ">Driver Location</p>
                <div id="map" style="width: 1100px;height: 400px;"></div>
                    <script>
                      var latitude = "{{latitude}}"
                      var longitude = "{{longitude}}"
                      function myMap(){
                        var mapProp = {
                          center:new google.maps.LatLng(latitude, longitude),
                          zoom: 12,
                      };
                      var map = new google.maps.Map(document.getElementById("map"), mapProp);
                      }
                      function addMarker(props){
                        var marker = new google.map.Marker({
                        position: props.coords,
                        map:map,
                        });
                        if(props.content){
                          var infoWindow = new google.maps.infoWindow({
                          content: props.content
                          });
                          marker.addListner('click', function(){
                          infoWindow.open(map, marker);
                      });
                        }
                      }
                      
                      addMarker({
                        coords:{lat:latitude, lng:longitude},
                        content:'<h1>Home</h1>'
                      })
                      addMarker({
                        coords:{lat:"{{driver1_coords_lat}}",lng:"{{driver1_coords_lng}}"},
                        content:`<h1>"{{driver1.first_name}}"</h1>
                        <h2>{{driver1.phone_number}}</h2>`
                        });
                    </script>
                      
                    </script>
                    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEoIFrYh6q05VYt_RAQ2Nfkqx8MU31Moc&callback=myMap"></script>

            </div>
            <img src="https://static.makeuseof.com/wp-content/uploads/2015/10/gps-map.jpg" class="card-img-bottom" alt="map">
          </div>

        </div>
{% endblock content %}        
